<div class="form-inline gr-action-bar" style="margin-bottom: 5px; ">
    <div class="input-group pull-right">
        <button ng-repeat="btn in actionList" ng-click="executeCommand(btn)" class="btn btn-default btn-raised action-item"
                ng-attr-style="{{btnStyle(btn)}}"
                ng-show="isShow(btn.isDefault) && (btn.show == false ? false : true) && (authService.authorize(btn.rule) || !btn.rule)"
                ng-disabled="!checkExecution(btn)">
            <i ng-class="{'fa fa-{{btn.icon}}': btn.icon}" aria-hidden="true"></i> {{btn.name}}
        </button>
    </div>
</div>